@font-face {
  font-family: 'Brown';
  src: local('Brown Bold'), local('Brown Bold'),
  url('../fonts/Brown/Brown-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Brown Light';
  src: local('Brown Light'), local('Brown Light'),
  url('../fonts/Brown/Brown-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Brown Regular';
  src: local('Brown Regular'), local('Brown Regular'),
  url('../fonts/Brown/Brown-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}