@import "vars";

@media (min-width: 1200px) and (max-width: 1400px) {
  html {
    font-size: 95%;
  }
.container {
  max-width: 1240px;
}
  .about-product {
    width: 50%;
  }
  .improve {
    &__header {
      padding: 0;
    }
  }
  .safety-content {
    margin-bottom: 20px;
  }
  .help-drivers {
    &__safety {
      flex-basis: 60%;
    }
    &__image {
      width: 100%;
    }
  }
  .get-started-form__button {
    margin-right: 0;
  }
  .get-started__header {
    font-size: 2.3rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
 html {
   font-size: 80%;
 }
  .container {
   max-width: 1020px;
  }
  .header {
    align-items: center;
  }
  .about-product {
    width: 51%;
  }
  .improve {
    &__header {
      padding: 0;
    }
  }
  .safety-content {
    margin-bottom: 15px;
  }
  .help-drivers {
    &__safety {
      flex-basis: 70%;
    }
    &__image {
      width: 100%;
    }
  }
  .get-started-form__button {
    margin-right: 0;
  }
  .get-started__header {
    font-size: 2.3rem;
  }
  .customers {
    margin-top: 100px;
    padding: 0 11%;
    &__list {
      padding-bottom: 7%;
      &-card {
        flex-basis: 27%;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 80%;
  }
  .container {
    max-width: 800px;
  }
  .about-product {
    width: 65%;
  }
  .improve {
    &__header {
      padding: 0;
    }
  }
  .safety-content {
    margin-bottom: 15px;
  }
  .figure {
    margin: 0 auto;
  }
  .feature-card {
    &__header {
      font-size: 2.2rem;
    }
    &__paragraph {
      font-size: 1.4rem;
    }
  }
  .card_indent {
    padding: 10.36% 4% 17.15%;
  }
  .help-drivers {
    flex-wrap: wrap;
    margin-bottom: 40px;
    text-align: center;
    &__safety {
      flex-basis: 100%;
      &-description {
        font-size: 1.55rem;
      }
    }
    &__image {
      width: 100%;
      margin-top: 30px;
    }
  }
  .safety-content {
    &__item {
      flex-basis: 100%;
      &-text {
        font-size: 1.4rem;
      }
    }
  }
  .start-product {
    justify-content: flex-start;
  }
  .get-started-form__button {
    margin-right: 0;
  }
  .get-started__header {
    font-size: 2.3rem;
  }
  .customers {
    margin-top: 100px;
    &__list {
      padding-bottom: 7%;
      &-card {
        flex-basis: 30%;
        &-header {
          font-size: 1.5rem;
        }
        &-text {
          font-size: 1.3rem;
        }
      }
    }
  }
}


@media only screen and (max-width: 767px) {
  html {
    font-size: 65%;
  }
  body {
    background: none;
  }
  .container {
    max-width: 745px;
  }
  .navigation {
    display: none;
  }
  .button-sign-in {
    height: 36px;
    width: 88px;
  }
  .about-product {
    width: 70%;
    margin: 10% auto 5%;
  }
  .improve {
    text-align: center;
    margin: 0 auto;
    flex-basis: 100%;
    height: auto;
    &__header {
      padding: 0;
    }
  }
  .card_indent {
    padding: 5% 4% 9%;
  }
  .feature-card-wrapper {
    flex-basis: 100%;
    height: auto;
  }
  .feature-card {
    text-align: center;
    &__image {
      margin: 0 auto;
    }
    &__header {
      font-size: 4rem;
    }
    &__paragraph {
      font-size: 2rem;
    }
  }
  .customers {
    padding: 0 8%;
    margin-top: 32px;
  }
  .customers__list-card {
    flex-basis: 50%;
    &-haeder {
      font-size: 2.5rem;
    }
    &-text {
      font-size: 1.8rem;
    }
  }
  .customers__list {
    padding-bottom: 15%;
  }
  .advantages {
    flex-basis: 100%;
  }
  .help-drivers {
    flex-wrap: wrap;
    margin-bottom: 80px;
    &__safety {
      flex-basis: 100%;
    }
  }
  .safety-content {
    &__item {
      flex-basis: 100%;
    }
  }
  .help-drivers {
    flex-wrap: wrap;
    margin-bottom: 40px;
    text-align: center;
    &__safety {
      flex-basis: 100%;
      &-description {
        font-size: 1.55rem;
      }
    }
    &__image {
      width: 100%;
      margin-top: 30px;
    }
  }
  .safety-content {
    &__item {
      flex-basis: 100%;
      &-text {
        font-size: 1.4rem;
      }
    }
  }
  .start-product {
    justify-content: center;
  }
  .figure {
    margin: 0 auto;
  }
  .finances {
    &__header {
      padding-top: 40px;
      text-align: center;
      font-size: 4rem;
    }
    &__description {
      width: auto;
      margin-bottom: 60px;
      margin-top: 22px;
      text-align: center;
      font-size: 2rem;
    }
  }
  .advantages-wrapper {
    padding-left: 10%;
  }
  .get-started-form__input {
    height: 60px;
  }
  .footer {
    &__content {
      padding: 30px 0;
      flex-direction: column;
      align-items: center;
      &-contacts {
        &-logo {
          margin-bottom: 24px;
          width: 65%;
        }
        &-phone {
          font-size: 1.4rem;
        }
        &-link {
          margin: 16px 0;
          font-size: 1.4rem;
        }
      }
    }
  }
  .links {
    font-size: 1.4rem;
    width: 90%;
  }
  .demo-request {
    flex-wrap: wrap;
    padding: 30px 10%;
    text-align: center;
    justify-content: center;
    &__text {
      margin-bottom: 16px;
    }
  }
  .advantages-list__item {
    font-size: 1.7rem;
  }
  .btn-menu {
    display: block;
    right: 160px;
  }
  .hidden-menu {
    text-align: right;
    &__item {
      text-underline: none;
      text-decoration: none;
      font-size: 1.4rem;
      color: map_get($colors, head-color);
      font-family: 'Brown Bold', sans-serif;
    }
  }

  .hidden-menu-ticker:checked ~ .hidden-menu {
    display: flex;
    flex-direction: column;
  }
  .hidden-menu-ticker:checked ~ .btn-menu {
 position: fixed;
  }
}
//@media (max-width: 480px) and (min-width: 320px) {
//  html {
//    font-size: 50%;
//  }
//  body {
//    background: none;
//  };
//  .container {
//    width: 90%;
//  }
//  .navigation {
//    display: none;
//  }
//  .button-sign-in {
//    height: 36px;
//    width: 88px;
//  }
//  .about-product {
//    width: 70%;
//    margin: 10% auto 5%;
//  }
//  .improve {
//    text-align: center;
//    margin: 0 auto;
//    flex-basis: 100%;
//  }
//  .feature-card-wrapper {
//    flex-basis: 100%;
//  }
//  .feature-card {
//    text-align: center;
//    &__image {
//      margin: 0 auto;
//    }
//  }
//  .customers__list-card {
//    flex-basis: 50%;
//  }
//  .advantages {
//    flex-basis: 100%;
//  }
//  .help-drivers {
//    flex-wrap: wrap;
//    margin-bottom: 0;
//    &__safety {
//      flex-basis: 100%;
//    }
//  }
//  .safety-content {
//    &__item {
//      flex-basis: 100%;
//    }
//  }
//  .start-product__button {
//    margin-right: 8px;
//  }
//  .demo-request {
//    flex-wrap: wrap;
//    padding: 30px 10%;
//    text-align: center;
//    justify-content: center;
//    &__text {
//      margin-bottom: 10px;
//    }
//  }
//  .get-started__header {
//    margin: 15px 0;
//  }
//  .get-started-form__input {
//    height: 60px;
//  }
//  .footer {
//    &__content {
//      padding: 50px 0;
//      padding: 30px 0;
//      flex-direction: column;
//      align-items: center;
//      &-contacts {
//        &-logo {
//          margin-bottom: 24px;
//          width: 65%;
//        }
//        &-phone {
//          font-size: 1.4rem;
//        }
//        &-link {
//          margin: 16px 0;
//          font-size: 1.4rem;
//        }
//      }
//    }
//  }
//  .links {
//    font-size: 1.4rem;
//  }
//  .footer__bottom {
//    padding: 0 0 32px;
//  }
//  .copyright, .footer-links {
//    font: 1.4rem 'Brown Light';
//    color: #945592;
//  }
//  .finances {
//    background: none;
//  }
//}

@media (max-width: 480px) and (min-width: 320px) {
  html {
    font-size: 55%;
  }
  body {
    background: none;
  };
  .header {
    &-logo {
      &__image {
        width: 60%;
      }
    }
  }
  .container {
    max-width: 100%;
  }
  .navigation {
    display: none;
  }
  .button-sign-in {
    height: 36px;
    width: 88px;
  }
  .about-product {
    width: 100%;
    margin: 10% auto 5%;
    &__header {
      display: block;
      text-align: center;
    }
    &__text {
      margin: 5% 0 32px 0;
      text-align: center;
      font-size: 1.7rem;
    }
  }
  .improve {
    text-align: center;
    margin: 0 auto;
    flex-basis: 100%;
    &__paragraph {
      font-size: 1.7rem;
    }
  }
  .feature-card-wrapper {
    flex-basis: 100%;
    height: auto;
    margin-bottom: 32px;
  }
  .feature-card {
    text-align: center;
    &__image {
      margin: 0 auto;
    }
  }
  .customers {
    padding: 0;
    &__paragraph {
      font-size: 1.7rem;
    }
  }
  .customers__list-card {
    flex-basis: 100%;
    &-header {
      font-size: 2rem;
    }
  }
  .advantages {
    flex-basis: 100%;
  }
  .help-drivers {
    flex-wrap: wrap;
    margin-bottom: 0;
    &__safety {
      flex-basis: 100%;
    }
  }
  .safety-content {
    &__item {
      flex-basis: 100%;
    }
  }
  .start-product__button {
    margin-right: 8px;
  }
  .demo-request {
    flex-wrap: wrap;
    padding: 30px 10%;
    text-align: center;
    justify-content: center;
    &__text {
      margin-bottom: 10px;
    }
  }
  .get-started__header {
    margin: 15px 0;
  }
  .get-started-form__input {
    height: 60px;
  }
  .footer {
    &__content {
      padding: 30px 0;
      flex-direction: column;
      align-items: center;
      &-contacts {
        &-logo {
          margin-bottom: 24px;
          width: 65%;
        }
        &-phone {
          font-size: 1.4rem;
        }
        &-link {
          margin: 16px 0;
          font-size: 1.4rem;
        }
      }
    }
  }
  .links {
    font-size: 1.4rem;
  }
  .footer__bottom {
    padding: 0 0 32px;
    justify-content: space-around;
  }
  .copyright, .footer-links {
    font: 1.4rem 'Brown Light';
    color: #945592;
  }
  .finances {
    background: none;
    padding: 0 5%;
    &__description {
      width: auto;
      margin-bottom: 56px;
    }
  }
.footer-links {
  &__item {
    margin-left: 10px;
  }
}
  .btn-menu {
    display: block;
    right: 140px;
  }
  .finances-bg {
    background: none;
  }
}
