.popup-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 10;
  transition: opacity 400ms ease-in;
  display: block;
  pointer-events: auto;

  & .popup {
    width: auto;
    min-width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 16px 16px 13px 16px;
    border-radius: 10px;
    background: #fff;
    font-family: 'Brown Light', sans-serif;

    &__header {
      margin-bottom: 16px;
      font-size: 20px;
    }

    &-data {
      width: 100%;
      font-size: 18px;
      & .button {
        width: 100%;
        line-height: 16px;
        height: 32px;
        font-size: 16px;
        font-family: 'Brown Light';
        padding-bottom: 2px;
      }

      & .table-row {
        vertical-align: baseline;
      }
    }

    &__close {
      cursor: pointer;
      position: absolute;
      top: 5px;
      right: 5px;
      padding: 0;
      width: 24px;
      height: 24px;
      text-align: center;
      font-weight: bold;
      line-height: 24px;
      transition: all ease .8s;

      &:before {
        color: rgba(170, 170, 170, 1);
        content: '\2716';
      }
    }
  }
}

.date-list {
  background: #fff;
  width: 90%;
  box-sizing: border-box;
  font-size: 18px;
  margin: 6px 0;
  transition: .5s;

  &__item {
    width: 90%;
    color: #808080;
    max-height: 0;
    opacity: 0;
    transition: .5s;
  }

  &.active {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    margin-top: 8px;
    margin-bottom: 8px;

    .date-list__item {
      max-height: 100%;
      padding: 10px;
      opacity: 1;
    }
  }
}

