.popup-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 10;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none;

  &.active {
    display: block;
    pointer-events: auto;
  }

  & .popup {
    width: 494px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 16px 16px 13px 16px;
    border-radius: 10px;
    background: #fff;

    &-data {
      width: 100%;
      text-align: center;
      font-family: 'Brown Light', sans-serif;
      font-size: 16px;
    }

    &__close {
      position: absolute;
      top: -10px;
      right: -10px;padding: 0;
      width: 20px;
      height: 20px;
      border: 2px solid #ccc;
      border-radius: 15px;
      background-color: rgba(61, 61, 61, 0.8);
      box-shadow: 0 0 10px #000;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      line-height: 20px;
      transition: all ease .8s;

      &:before {
        color: rgba(255, 255, 255, 0.9);
        content: 'X';
        text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
        font-size: 12px;
      }
      &:hover {
        background-color: rgba(252, 20, 0, 0.8);
      }
    }
  }
}

