@import "vars";
@import "fonts";

body {
  width: 1920px;
  background: url("../img/bg1.png") no-repeat 80% 0;
  height: 2000px;
  z-index: 2;
}

.container {
  width: 1235px;
  margin: 0 auto;
}

.button {
  background-color: #845cff;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font: 15px 'Brown Bold';
  text-transform: uppercase;
}

.text_paragraph {
  font: 23px 'Brown Light';
  color: map_get($colors, text-color);
}

.space_between {
  justify-content: space-between;
}

.flex_row {
  display: flex;
  align-items: center;
}

.text_center {
  text-align: center;
}

.medium_header {
  font: 30px 'Brown Light';
}

.head_text {
  font-family: 'Brown Light', sans-serif;
  font-size: 48px;
  color: map_get($colors, head-color);
}

.list_without_marks {
  list-style-type: none;
}

.header {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  line-height: 0;
  &-logo {
    flex: 1;
  }
}

.navigation {
  display: inline-block;
  vertical-align: middle;
  &__item {
    text-underline: none;
    text-decoration: none;
    font-size: 19px;
    color: map_get($colors, head-color);
    font-family: 'Brown Bold', sans-serif;
    margin-right: 50px;
  }
  &__item:last-child {
    margin-right: 30px;
  }
}

.button-sign-in {
  margin-right: 20px;
  background-color: #845cff;
  border-radius: 3px;
  border: 0;
  height: 42px;
  width: 102px;
  &__text {
    color: #fff;
    display: block;
    font-size: 19px;
    font-family: 'Brown', sans-serif;
    padding: 5px 10px;
  }
}

.about-product {
  width: 470px;
  height: 382px;
  margin-top: 21%;
  margin-bottom: 11.3%;
  &__header {
    font: 48px 'Brown Bold';
    color: map_get($colors, head-color);
  }
  &__text {
    @extend .text_paragraph;
    margin-bottom: 42px;
  }
}

.start-product {
  &__button {
    width: 142px;
    height: 42px;
    margin-right: 34px;
  }
}

.feedback {
  &__link {
    font: 19px 'Brown Regular';
    color: map_get($colors, head-color);
  }
}

.improve {
  width: 555px;
  height: 479px;
  display: inline-block;
  margin-right: 115px;
  &__header {
    @extend .head_text;
    font-size: 48px;
    padding: 146px 35px 0 0;
  }
  &__paragraph {
    @extend .text_paragraph;
  }
}

.feature-card-wrapper {
  height: 479px;
  width: 560px;
  margin-bottom: 60px;
  display: inline-block;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: -8px 7px 8px -5px #f9f9fe;
}

.card_indent {
  padding: 58px 56px 96px;
}

.feature-card {
  &__image {
    display: block;
    margin-bottom: 55px;
  }
  &__header {
    @extend .medium_header;
    margin-bottom: 30px;
    color: map_get($colors, head-card-color);
  }
  &__paragraph {
    font: 18px 'Brown Light';
    color: map_get($colors, text-color);
  }
}

.customers-card {
  flex: 1 0 20%;
  margin-right: 6.4%;
  height: 210px;
  margin-bottom: 14.4%;
  &:nth-child(4n) {
    margin-right: 0;
  }
  &:nth-child(n + 9) {
    margin-bottom: 0;
  }
  &__image {
    display: block;
    margin: 0 auto 47px;
  }
  &__header {
    @extend .text_center;
    font-family: 'Brown Regular', sans-serif;
    font-size: 20px;
    color: map_get($colors, head-card-color);
    margin-bottom: 18px;
  }
  &__text {
    @extend .text_center;
    font-family: 'Brown Light', sans-serif;
    font-size: 16px;
  }
}

.customers {
  background: url("../img/bg2.png") no-repeat 0 70%;
  margin-top: 200px;
  padding: 0 13%;
  &__header {
    @extend .text_center;
    @extend .head_text;
  }
  &__paragraph {
    @extend .text_paragraph;
    @extend .text_center;
    padding: 0 13%;
    margin-bottom: 145px
  }
}

.customers-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 35%;
}

.finances {
  background: url("../img/finances.png") no-repeat top right;
  &__header {
    padding-top: 68px;
    @extend .head_text;
  }
  &__description {
    @extend .text_paragraph;
    width: 660px;
    margin-bottom: 167px;
  }
  & .flew_row {
    margin-bottom: 105px;
  }
  & .flex_row:last-child {
    margin-bottom: 196px;
  }
}

.demo-request {
  background-color: #fafaff;
  &__content {
    padding: 70px 0;
  }
}

.safety {
  width: 560px;
  &__header {
    @extend .head_text;
  }
  &__description {
    @extend .text_paragraph;
  }
}

.drive-ride {
  margin-bottom: 56px;
}

.drive, .ride {
  width: 200px;
  &__text {
    font: 16px 'Brown Light';
    color: map_get($colors, text-color);
  }
  &__header {
    @extend .medium_header;
  }
}
.help-drivers {
  margin-bottom: 250px;
}
.advantages {
  &__header {
    font: 30px 'Brown Regular';
    color: map_get($colors, head-color);
    margin-bottom: 60px;
  }
  &-list {
    @extend .list_without_marks;
    margin-bottom: 105px;
    padding: 0;
    &__item {
      font: 20px 'Brown Light';
      margin-bottom: 42px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__item:before {
      content: url("../img/check.svg");
      vertical-align: middle;
      margin-right: 19px;
    }
  }
}

.get-started {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  &__header {
    margin: 44px 0 42px;
    @extend .head_text;
  }
  &__description {
    margin: 0;
    @extend .text_paragraph;
  }
}

.get-started-form {
  background-color: #ffffff;
  &__input {
    height: 82px;
    width: 360px;
    border: none;
    outline: none;
    -webkit-appearance: none;
    vertical-align: middle;
    font: 23px 'Brown Light';
    color: map_get($colors, text-color);
    padding-left: 39px;
  }
  &__button {
    border: none;
    vertical-align: middle;
    background-color: white;
    margin-right: 30px;
  }
}

.footer {
  background-color: map_get($colors, head-card-color);
  &__content {
    padding: 150px 0 100px 0;
    color: #ffffff;
    align-items: flex-start;
  }
}

.contacts {
  &__logo {
    margin-bottom: 54px;
  }
  &__phone {
    display: block;
    font: 16px 'Brown Light';
  }
  &__link {
    margin: 46px 0;
    display: block;
    font: 16px 'Brown Regular';
  }
}

.social-network {
  &-list {
    @extend .list_without_marks;
    padding: 0;
    &__item {
      display: inline-block;
      margin-right: 30px;
    }
  }
}

.sites {
  font: 16px 'Brown Light';
  align-items: flex-start;
  &-list {
    @extend .list_without_marks;
    margin: 0;
    &__item {
      line-height: 16px;
      margin-bottom: 34px;
    }
  }
}

.regular_font {
  font-family: "Brown Regular";
}

.start-button-text {
  font: 15px 'Brown Bold';
  color: #845cff;
  text-transform: uppercase;
  margin-right: 10px;
}

.copyright, .footer-links {
  font: 16px 'Brown Light';
  color: #555377;
  margin-bottom: 98px;
}

.footer-links {
  &__item {
    margin-left: 40px;
  }
}